html {
	font-family: "sans-serif";
	background-color: aliceblue;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

h1 {
	font-size: 64px;
	font-family: "fangsong";
	padding: 10px;
	border: 6px solid black;
	background-color: antiquewhite;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}


h3 {
	font-size: 24px;
	margin: 0px;
}

p {
	font-size: 16px;
	margin: 0px;
}

#tabList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1px;

}

.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	width: 200px;
	height: 40px;
	margin: 0px 0px;
	padding: 0px;
	border: 2px solid black;
	border-collapse: collapse;
	background-color: bisque;
	cursor: pointer;
}

.tab:hover {
	text-align: center;
	font-size: 36px;
	width: 200px;
	height: 40px;
	margin: 0px 0px;
	padding: 0px;
	background-color: darkorange;
	border: 2px solid black;
	border-collapse: collapse;
}

.dish {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	border: 4px solid white;
	width: 600px;
	height: 500px;
	font-family: "fangsong";
	padding: 15px;
	background-color: antiquewhite;
}

#frontImage {
	width: 800px;
	height: 600px;
}

.dishImage {
	width: 600px;
	height: 400px;
}

.text1 {
	font-size: 32px;
	margin: 0px;
	padding: 10px;
}

.text2 {
	font-size: 32px;
	padding: 10px;
}

.contactpage {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	width: 800px;
	height: 800px;
	margin: 0px 0px;
	padding: 5px;
}

.phone.contactpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	width: 400px;
	height: 50px;
}

.address.contactpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	width: 400px;
	height: 50px;
}

.contactpage p {
	font-family: "sans-serif";
	font-size: 24px;
}
